:root {
  --color-green-positive: 60, 187, 180;
  --color-yellow-negative: 249, 173, 29;
  --color-dark-background: rgba(0, 0, 0, .4);
  --color-darker-background: rgba(0, 0, 0, .6);
  --color-darker-gray: rgba(51, 51, 51, 1);
  --color-dark-gray: rgba(70, 70, 70, 1);
  --color-light-gray: rgba(235, 235, 235, 1);
  --color-light-background: rgba(255, 255, 255, .4);
  --color-lighter-background: rgba(255, 255, 255, .8);
  --color-white: rgba(255, 255, 255, 1);
}

html,
body {
  width: 100%;
  margin: 0;
  background-color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  position: relative;
}

a,
a:visited {
  color: var(--color-white);
}

button {
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr[role="separator"] {
  border: 0 none;
  border-bottom: 2px dotted var(--color-dark-gray);
  margin: 1.5rem 1rem;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 2rem);
  min-height: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(80%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.icon-button[aria-label="thumbs up"] {
  background-color: rgba(var(--color-green-positive), 0.8);
}

.icon-button[aria-label="thumbs up"]:hover {
  cursor: pointer;
  background-color: rgba(var(--color-green-positive), 1);
}

.icon-button[aria-label="thumbs down"] {
  background-color: rgba(var(--color-yellow-negative), 0.8);
}

.icon-button[aria-label="thumbs down"]:hover {
  cursor: pointer;
  background-color: rgba(var(--color-yellow-negative), 1);
}

.icon-button > img {
  width: 100%;
  height: 100%;
}

.nav__logo {
  margin: 2.5rem 0 0;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.nav__hamburger {
  position: relative;
  top: 2rem;
  right: 1rem;
  width: 25px;
  height: 20px;
}

.nav__links {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: calc(100vh - 4rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0 2rem;
  background-color: var(--color-darker-background);
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.nav__links li {
  width: 100%;
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.nav__links a {
  color: var(--color-white);
  text-decoration: none;
}

.nav__hamburger:focus + .nav__links,
.nav__links:focus-within {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__links li:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.nav__search {
  width: 24px;
  height: 24px;
  margin-left: .5rem;
}

.nav__search-input {
  width: 25vw;
  border: 0;
  border-bottom: 2px solid var(--color-white);
  background-color: transparent;
  border-radius: 0;
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  -webkit-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.nav__search-input:focus {
  width: 60vw;
  outline: 0 none;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 80vw;
  min-height: 35rem;
  max-height: 38rem;
  margin-bottom: 2rem;
}

.hero__background {
  position: absolute;
  left: -35vw;
  width: 160vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__featured-card {
  position: relative;
  top: 5.5rem;
  left: 1rem;
  overflow: hidden;
  width: 55vw;
  max-height: 25rem;
}

.hero__closing-gauge {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var(--color-light-background);
}

.featured-card__glass-background {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background: center no-repeat -webkit-gradient(linear, left top, left bottom, from(var(--color-dark-background)), to(var(--color-dark-background))), -25vw 0/160vw no-repeat url("../assets/img/pope-francis.png");
  background: center no-repeat linear-gradient(var(--color-dark-background), var(--color-dark-background)), -25vw 0/160vw no-repeat url("../assets/img/pope-francis.png");
  -webkit-filter: blur(1rem);
          filter: blur(1rem);
}

.featured-card__content {
  position: relative;
  padding: 1rem;
  color: var(--color-white);
}

.featured-card__hairline {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}

.featured-card__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.featured-card__desc {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  margin: 1rem 0;
  -webkit-box-orient: vertical;
  font-size: 1.25rem;
  font-weight: 300;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
}

.featured-card__cta {
  font-weight: 700;
}

.featured-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -1rem -1rem;
}

.featured-card__buttons > .icon-button {
  width: 50%;
  height: 2.75rem;
}

.featured-card__buttons > .icon-button > img {
  max-width: 1.25rem;
}

.closing-gauge__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 .25rem 0 0;
  background-color: var(--color-dark-background);
  color: var(--color-white);
  font-weight: 300;
  text-transform: uppercase;
}

.closing-gauge__left:after {
  position: absolute;
  right: -.5rem;
  display: block;
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.5rem solid var(--color-dark-background);
  content: ' ';
}

.closing-gauge__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 0 .75rem;
}

.closing-gauge__number {
  color: var(--color-dark-gray);
  font-size: 1.5rem;
  font-weight: 400;
}

.closing-gauge__desc {
  color: var(--color-dark-gray);
  font-size: 1.5rem;
  font-weight: 300;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-light-gray);
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .2;
  pointer-events: none;
}

.banner-top .banner__left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 1rem;
}

.banner-top .banner__left > .banner__hairline {
  color: var(--color-dark-gray);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -.07rem;
}

.banner-top .banner__left > .banner__title {
  display: block;
  color: var(--color-dark-gray);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -.05rem;
}

.banner-top .banner__right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.banner-top .banner__text {
  margin: 0;
  color: var(--color-dark-gray);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -.05rem;
}

.banner-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

.banner-bottom .banner__heading {
  position: relative;
  margin: 0 0 1rem;
  color: var(--color-dark-gray);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.banner-bottom .banner__right {
  width: 100%;
}

.banner-bottom .banner__cta {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: 2px solid var(--color-darker-background);
  background: transparent;
  color: var(--color-darker-gray);
  font-size: 1.5rem;
}

main[role="main"] {
  padding: 0 1rem;
  margin-top: 2rem;
}

main h2,
main h3,
main h4 {
  color: var(--color-dark-gray);
  font-weight: 300;
}

main h2 {
  margin: 0 0 2rem;
  font-size: 2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1rem 3rem;
}

.footer__links li {
  padding: .5rem 0;
  font-size: 1.25rem;
}

.footer__links li a {
  color: var(--color-dark-gray);
  text-decoration: none;
}

.footer__links li a:hover {
  color: var(--color-darker-gray);
  text-decoration: underline;
}

.footer__social > span {
  color: var(--color-darker-gray);
  font-size: 1.25rem;
  text-align: right;
}

.footer__social > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.footer__social > ul > li {
  margin-right: 1rem;
}

.featured-card__more-info {
  display: none;
}

.featured-card__more-info-icon {
  width: 1.5rem;
  height: 1rem;
  margin-right: .5rem;
}

.banner-top .icon-button {
  display: none;
}

.max-centered {
  display: contents;
}

@media (max-width: 767px) {
  .main-title .dropdown {
    display: none;
  }
  .cards-slider {
    overflow: auto;
    scroll-behavior: smooth;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards-slider .cards-grid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .cards-slider .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0px;
  }
  .cards-slider .cards-container > * + * {
    margin-left: 12px;
  }
  .cards-slider .cards-container .card {
    max-width: 300px;
    height: 300px;
    background-size: cover;
  }
  .cards-slider .cards-container .card .card_general {
    margin-right: 34px;
  }
  .cards-slider .cards-container .card .card_general .card_info {
    margin-left: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-slider .cards-container .card .card_general .card_info .card_info_main .card_name {
    -webkit-line-clamp: 2;
  }
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  width: 170px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 9px 16px;
  font-size: 11px;
  cursor: pointer;
}

.dropdown .dropdown-content {
  width: 170px;
  display: none;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content button {
  width: 100%;
  color: black;
  border: 1px solid black;
  font-size: 11px;
  text-align: center;
  padding: 12px 16px;
  display: block;
}

.dropdown .dropdown-content button:hover {
  cursor: pointer;
  background-color: var(--color-light-gray);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cards-grid .card {
  margin-bottom: 1%;
  position: relative;
  background-size: cover;
}

.cards-grid .card .card_general {
  padding-top: 20%;
}

.cards-grid .card .card_general .card_info {
  margin-left: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-grid .card .card_general .card_info .card_info_main .card_name {
  font-size: 2rem;
  -webkit-line-clamp: 2;
}

.card {
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card .card_general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card_general .card_indicator {
  width: 30px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_general .card_indicator_up {
  background-color: rgba(var(--color-green-positive), 1);
}

.card .card_general .card_indicator_down {
  background-color: rgba(var(--color-yellow-negative), 1);
}

.card .card_general .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.card .card_general .card_info .card_info_main {
  max-width: 540px;
}

.card .card_general .card_info .card_info_main .card_name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  color: white;
  font-size: 2.5em;
  font-weight: normal;
}

.card .card_general .card_info .card_info_main .card_description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0px 0px;
  color: white;
  font-size: 1.25rem;
}

.card .card_general .card_info .card_info_add {
  margin-left: 30px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.card .card_general .card_info .card_info_add .card_detail {
  text-align: right;
  color: white;
}

.card .card_general .card_info .card_info_add .card_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.card .card_general .card_info .card_info_add .card_buttons button {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-left: 12px;
}

.card .card_general .card_info .card_info_add .card_buttons .icon-button {
  width: 30px;
  height: 30px;
  padding: 7px 7px;
}

.card .card_general .card_info .card_info_add .card_buttons .vote-button {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
}

.card .card_general .card_info .card_info_add .card_buttons .vote-button:hover {
  cursor: pointer;
  background-color: black;
}

.card .card_ruler {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card_ruler span {
  font-size: 18px;
  color: white;
}

.card .card_ruler .card_ruler_pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(var(--color-green-positive), 0.8);
}

.card .card_ruler .card_ruler_pos .card_ruler_pos_indicator {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}

.card .card_ruler .card_ruler_pos .card_ruler_pos_indicator img {
  margin-right: 6px;
}

.card .card_ruler .card_ruler_neg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(var(--color-yellow-negative), 0.8);
}

.card .card_ruler .card_ruler_neg .card_ruler_neg_indicator {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
}

.card .card_ruler .card_ruler_neg .card_ruler_neg_indicator img {
  margin-left: 6px;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-selected {
  border: 1px solid white;
}

@media all and (min-width: 500px) {
  .banner-top .banner__left {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .banner-top .banner__right {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media all and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
  .hero {
    max-height: 38rem;
  }
  .hero__background {
    top: -6.5rem;
    left: 0;
    width: 110vw;
    height: auto;
  }
  .featured-card__glass-background {
    background: center no-repeat -webkit-gradient(linear, left top, left bottom, from(var(--color-dark-background)), to(var(--color-dark-background))), 7vw -6.5rem/115vw auto no-repeat url(../assets/img/pope-francis.png);
    background: center no-repeat linear-gradient(var(--color-dark-background), var(--color-dark-background)), 7vw -6.5rem/115vw auto no-repeat url(../assets/img/pope-francis.png);
  }
  .featured-card__content {
    padding: 2rem 1.5rem;
  }
  .featured-card__more-info {
    display: inline-block;
    margin: 0;
    font-weight: 300;
  }
  .featured-card__buttons {
    margin: 0 -1.5rem -2rem;
  }
  .banner-top .banner__left {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .banner-top .banner__right {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .banner-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
  }
  .banner-bottom .banner__background {
    top: -230%;
  }
  .banner-bottom .banner__right {
    width: auto;
  }
  .banner-bottom .banner__heading {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .banner-bottom .banner__cta {
    width: 16rem;
  }
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__links ul,
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__links ul li {
    padding: 0;
    margin-right: 2rem;
    font-size: 1rem;
  }
  .footer__social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social span {
    margin-right: 1rem;
    color: var(--color-dark-gray);
    font-size: 0.833rem;
  }
  .footer__social > ul {
    margin-top: 3px;
  }
  .cards-grid .card {
    max-width: 351px;
  }
}

@media all and (min-width: 1100px) {
  html, body {
    font-size: 18px;
  }
  .max-centered {
    position: relative;
    display: block;
    width: 100vw;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
  .max-centered > *,
  .max-centered > hr[role="separator"] {
    margin-right: 0;
    margin-left: 0;
  }
  .max-centered main {
    padding: 0;
  }
  .nav {
    min-height: 22vh;
  }
  .nav__logo {
    margin-top: 3rem;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__links {
    position: absolute;
    top: 3rem;
    right: 0;
    left: auto;
    width: 40vw;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
    background-color: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 1rem 0 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
  }
  .nav__links li:last-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .nav__search {
    width: 2rem;
    height: 2rem;
  }
  .nav__search-input {
    display: none;
  }
  .hero {
    min-height: 700px;
  }
  .hero__background {
    top: -2.5rem;
    left: 0;
    width: 100vw;
    height: auto;
  }
  .hero__featured-card {
    left: 0;
    width: 50%;
    min-width: 600px;
    max-height: unset;
    margin-top: 2.5rem;
  }
  .featured-card__glass-background {
    background: center no-repeat -webkit-gradient(linear, left top, left bottom, from(var(--color-dark-background)), to(var(--color-dark-background))), calc(-50vw + 650px) -6rem/105vw auto no-repeat url(../assets/img/pope-francis.png);
    background: center no-repeat linear-gradient(var(--color-dark-background), var(--color-dark-background)), calc(-50vw + 650px) -6rem/105vw auto no-repeat url(../assets/img/pope-francis.png);
  }
  .featured-card__content {
    padding: 2rem 1.5rem;
  }
  .featured-card__desc {
    max-width: 85%;
    margin: 2rem 0 1rem;
  }
  .featured-card__cta {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
  }
  .featured-card__buttons {
    margin: 0 -1.5rem -2rem;
  }
  .featured-card__buttons > .icon-button {
    height: auto;
  }
  .featured-card__buttons > .icon-button > img {
    max-width: 2rem;
    height: 2rem;
    margin: 1.3rem 0;
  }
  .closing-gauge__left {
    padding-right: 1rem;
  }
  .closing-gauge__right {
    padding-left: 1rem;
  }
  .closing-gauge__title {
    font-size: 1.25rem;
  }
  .closing-gauge__number,
  .closing-gauge__desc {
    font-size: 2rem;
  }
  .closing-gauge__left:after {
    border-top-width: 0.33rem;
    border-bottom-width: 0.33rem;
  }
  .banner-top .banner__text,
  .banner-top .banner__left > .banner__hairline {
    font-size: 1rem;
  }
  .banner-top .banner__left > .banner__title {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .banner-top .icon-button {
    display: block;
    margin-left: 2rem;
  }
  .banner-bottom .banner__cta {
    width: 20rem;
  }
  main h2 {
    font-size: 2.5rem;
  }
  hr[role="separator"] {
    margin: 2rem 0;
  }
  .cards-grid .card {
    width: 32%;
  }
}
/*# sourceMappingURL=main.css.map */